obj/Debug/netcoreapp3.1/DemoWebCoreAPI.pdb
obj/Debug/netcoreapp3.1/DemoWebCoreAPI.dll
bin/Debug/netcoreapp3.1/DemoWebCoreAPI.pdb
bin/Debug/netcoreapp3.1/DemoWebCoreAPI.dll
.vs/DemoWebCoreAPI/v16/.suo
